# ignore everything in the root except the "wp-content" directory.
!wp-admin/
!wp-includes/
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "plugins", "themes" directory
wp-content/*
!wp-content/themes/
!wp-content/uploads/
!wp-content/languages/
!wp-content/index.php

# ignore log files
*.log

/.idea/
/wp-admin/
/wp-includes/
/.vscode/sftp.json
